{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Contact Us
{% endblock title %}

{% block navigationbar %}
    {% include 'core/navbar.html' %}
{% endblock navigationbar %}

{% block content %}
    
    <div class="container mb-5" style="margin-top:110px;">
        <div class="row">
            <div class="col-sm-8 offset-md-2 text-center border-left border-right border-success margin-main">
                <h1 class="font-weight-bold text-secondary">Contact Us</h1>
                <p style="color:grey">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, ex sed. Neque nisi
                     similique explicabo soluta repellendus pariatur enim. Eius ad dignissimos odio 
                    vel numquam rerum enim beatae repellat<br><br>
                    Email: {{email}}<br>
                    Phone: {{phone}}
                </p>
            </div>
        </div>
    </div>  

{% endblock content %}

{% block footer %}
    {% include 'core/footer.html' %}
{% endblock footer %}
